@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Custom map marker styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  z-index: 10;
  background-color: #020617;
}

/* Custom marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* Custom leaflet popups */
.custom-leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #f8fafc;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.custom-leaflet-popup .leaflet-popup-tip {
  background-color: #f8fafc;
}
